AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

IDENTITY_SIMILARITY_THRESHOLD=80
EARPHONE_CONFIDENCE_THRESHOLD=45.0 # 60에서 실험으로 변경

GAZE_EYE_YAW_THRESHOLD=15.0
GAZE_EYE_PITCH_THRESHOLD=15.0
GAZE_HEAD_YAW_THRESHOLD=25.0
GAZE_HEAD_PITCH_THRESHOLD=20.0
GAZE_MINIMUM_EYE_CONFIDENCE=80.0
GAZE_PERSISTENT_COUNT_THRESHOLD=3