AWS_REGION=ap-northeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

AZURE_DOCUMENT_INTELLIGENCE_ENDPOINT=
AZURE_DOCUMENT_INTELLIGENCE_KEY=

IDENTITY_SIMILARITY_THRESHOLD=80
IDENTITY_SIMILARITY_RETRIEVAL_THRESHOLD=0.0
EARPHONE_CONFIDENCE_THRESHOLD=45.0

GAZE_EYE_YAW_THRESHOLD=15.0
GAZE_EYE_PITCH_THRESHOLD=15.0
GAZE_HEAD_YAW_THRESHOLD=25.0
GAZE_HEAD_PITCH_THRESHOLD=20.0
GAZE_MINIMUM_EYE_CONFIDENCE=80.0
GAZE_PERSISTENT_COUNT_THRESHOLD=3
GAZE_CALIBRATION_MINIMUM_SAMPLE_COUNT=3

PHONE_CONFIDENCE_THRESHOLD=50.0
EARPHONE_HEAD_YAW_THRESHOLD=40.0
PRE_EXAM_EARPHONE_HEAD_YAW_THRESHOLD=50.0
